
<div class="container">

  <div class="row">
    <div class="col">

      <h2 class="item-title">{{title}}</h2>

      <div class="carousel-container">
        <ngb-carousel>
          <ng-template ngbSlide *ngFor="let image of carouselImages; let i = index">
            <img src="{{image}}" alt="Product Image {{i + 1}}">
          </ng-template>
        </ngb-carousel>
      </div>

    </div>
    <div class="col">

      <strong class="price">{{formattedPriceValue}}</strong>
      <div class="actions">
        <button class="store-pick-up" *ngIf="showStorePickUp">PICK UP IN STORE</button>
        <button class="add-to-cart" *ngIf="showAddToCart">ADD TO CART</button>
      </div>
      <h3>product highlights</h3>
      <ul class="features">
        <li *ngFor="let feature of features" [innerHTML]="feature"></li>
      </ul>

    </div>
  </div>

  <div class="row item-reviews">
    <!-- reviews go here -->
  </div>

</div>
